@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@plugin "daisyui";


:root {
  --font-main: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: oklch(var(--b1));
  color: oklch(var(--bc));
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: oklch(var(--p) / 0.4);
  border-radius: 999px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
